<%= render "partials/nav" %>
<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">
        <div class="flex justify-between">
            <%= render "partials/title", title: @product.name %>
        </div>
    </div>
    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg pb-5">
        <table class="min-w-full">
            <tr>
                <th class="px-6 py-3 border-r-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider w-1/6">Name</th>
                <td class="px-6 py-4 whitespace-no-wrap">
                    <div class="text-sm leading-5 text-blue-900"><%= @product.name %></div>
                </td>
            </tr>
            <tr>
                <th class="px-6 py-3 border-r-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Caregories</th>
                <td class="px-6 py-4 whitespace-no-wrap">
                    <div class="text-sm leading-5 text-blue-900"><%= @product.category_list %></div>
                </td>
            </tr>
            <tr>
                <th class="px-6 py-3 border-r-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">References</th>
                <td class="px-6 py-4 whitespace-no-wrap">
                    <div class="text-sm leading-5 text-blue-900"><%= @product.reference_list %></div>
                </td>
            </tr>
            <tr>
                <th class="px-6 py-3 border-r-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">Price</th>
                <td class="px-6 py-4 whitespace-no-wrap">
                    <div class="text-sm leading-5 text-blue-900"><%= number_to_currency(@product.price, :unit=>'€') %></div>
                </td>
            </tr>
        </table>
    </div>
</div>
